.esr-table {
    width: 60px;
}
.express-table {
    width: 90px;
}
.station-table {
    width: 400px;
}
.raspSearchField {
    width: 320px;
}
.raspSearchLayer {
    width: 320px;
    display: none;
    max-height: 100px;
    overflow: auto;
    border: 1px solid #0b4209;
    background-color: #b9ffb4;
    font-family: Calibri;
    padding-left: 3px;
}
.searchForm {
    vertical-align: top;
}
.station-title {
    font-size: 1.3em;
    font-weight: bold;
}
.station-info-title {
    font-weight: bold;
    font-size: 1.1em;
}
.direction-info-title {
    font-weight: bold;
    font-size: 1.4em;
    color: white;
}
.station-rasp-font {
    font-size: 0.8em;
    cursor: default;
}
.express {
    color: rgba(191, 9, 0, 0.73)
}
.noexpress {
    color: #0b4209;
}
.rasp-table {
    border: none;
    border-spacing: 0px;
}
.rasp-table-th {
    background-color: white;
}
.rasp-list-item {
    border: none;
    border-bottom: 1px solid black;
}
.direction-table {
    border: none;
    border-spacing: 0px;
}
.direction-level-main {
    border-left: 1px solid black;
}
.direction-level {
    border-bottom: 1px solid black;
}
.zone-1 {
    background-color: rgba(168,191,165,0.73);
}
.zone-2 {
    background-color: rgba(180,235,255,0.73);
}
.zone-0 {
    background-color: white;
}
.hint-zone {
    font-size: 0.7em;
    padding-left: 3px;
    font-style: italic;
}
.dir-scheme {
    width: 460px;
}
.dir-info {
    vertical-align: top;
}
.dir-desc {
    font-size: 0.7em;
    vertical-align: top;
}
.direction-info-title {
    font-weight: bold;
}
.wiki {
    clear: left;
}
.jutooltip {
    text-decoration: none;
    cursor: default;
}
.onlyAdmin {
    background-color: #ff6259;
    color: #ff1c2b;
    border: 1px solid #ff1c2b;
    width: 100%;
    text-align: center;
    font-style: italic;
    margin: 5px;
}
.check-ok {
    color: #0b4209;
}
.check-yellow {
    color: #beb803;
    font-weight: bold;
}
.check-need {
    color: #ff2525;
    font-weight: bold;
}
.updated {
    width: 100%;
    padding: 2px;
    text-align: right;
    color: #276e42;
}
.zone-hint {
    width: 100px;
    text-align: left;
    vertical-align: top;
    font-size: 0.9em;
}
.desc-not-work {
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    color: #0b4209;
    cursor: default;
}
.desc-work {
    font-style: italic;
    font-size: 0.8em;
    opacity: 0.4;
    cursor: default;
}
.thread-time {
    text-align: center;
    cursor: default;
}
.desc-work:HOVER {
    opacity: 1;
}
.transform {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: left;
    margin: -0px -0px -30px -0px;
    font-size: 1.1em;
}
.scheme-hint {
    font-size: 0.9em;
    font-style: italic;
}
.thread-link {
    font-size: 0.9em;
}
th.thread {
    font-size: 0.9em;
    background-color: white;
}
.carrier {
    font-size: 0.9em;
    font-style: italic;
    width: 100%;
    text-align: left;
}
.platform {
    font-size: 0.9em;
    font-style: italic;
    color: #ff6259;
}