<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="yandex" label="COM_RAILWAY2_YANDEXAPI" description="COM_RAILWAY2_YANDEXAPI">
		<field
			name="yandex-rasp-api-key"
			type="text"
			label="COM_RAILWAY2_YANDEX_API_RASP_KEY"
			description="COM_RAILWAY2_YANDEX_API_RASP_KEY_DESC"
			component="com_railway2"
			section="component">
		</field>
		<field
			name="yandex-rasp-api-url"
			type="text"
			label="COM_RAILWAY2_YANDEX_API_RASP_URL"
			description="COM_RAILWAY2_YANDEX_API_RASP_URL_DESC"
			component="com_railway2"
			section="component">
		</field>
		<field
			name="yandex-rasp-api-format"
			type="list"
			label="COM_RAILWAY2_YANDEX_API_RASP_FORMAT"
			description="COM_RAILWAY2_YANDEX_API_RASP_FORMAT_DESC"
			component="com_railway2"
			section="component">
			<option value="json">JSON</option>
			<option value="xml">XML</option>
		</field>
		<field
			name="yandex-rasp-api-lang"
			type="list"
			label="COM_RAILWAY2_YANDEX_API_RASP_LANG"
			description="COM_RAILWAY2_YANDEX_API_RASP_LANG_DESC"
			component="com_railway2"
			section="component">
			<option value="ru_RU">COM_RAILWAY2_YANDEX_API_RASP_LANG_RU</option>
			<option value="uk_UA">COM_RAILWAY2_YANDEX_API_RASP_LANG_UK</option>
			<option value="tr_TR">COM_RAILWAY2_YANDEX_API_RASP_LANG_TR</option>
		</field>
		<field
			name="debug"
			type="list"
			label="COM_RAILWAY2_DEBUG"
			description="COM_RAILWAY2_DEBUG_DESC"
			component="com_railway2"
			section="component">
			<option value="0">COM_RAILWAY2_NO</option>
			<option value="1">COM_RAILWAY2_YES</option>
		</field>
	</fieldset>
	<fieldset name="page_station" label="COM_RAILWAY2_STATION" description="COM_RAILWAY2_SETTINGS_PAGE_STATION">
		<field
				name="page_station_show_wayout"
				type="radio"
				label="COM_RAILWAY2_SETTINGS_WAYOUT"
				description="COM_RAILWAY2_SETTINGS_SHOW_WAYOUT"
				section="component"
				component="com_railway2">
			<option value="0">COM_RAILWAY2_SETTINGS_HIDE</option>
			<option value="1">COM_RAILWAY2_SETTINGS_SHOW</option>
		</field>
		<field
				name="page_station_show_rasp"
				type="radio"
				label="COM_RAILWAY2_SETTINGS_RASP"
				description="COM_RAILWAY2_SETTINGS_SHOW_RASP"
				section="component"
				component="com_railway2">
			<option value="0">COM_RAILWAY2_SETTINGS_HIDE</option>
			<option value="1">COM_RAILWAY2_SETTINGS_SHOW</option>
		</field>
		<field
				name="page_station_show_updatetime"
				type="radio"
				label="COM_RAILWAY2_SETTINGS_UPDATETIME"
				description="COM_RAILWAY2_SETTINGS_SHOW_UPDATETIME"
				section="component"
				component="com_railway2">
			<option value="0">COM_RAILWAY2_SETTINGS_HIDE</option>
			<option value="1">COM_RAILWAY2_SETTINGS_SHOW</option>
		</field>
        <field
                name="page_station_head"
                type="radio"
                label="COM_RAILWAY2_SMASH_HEAD"
                description="COM_RAILWAY2_SMASH_HEAD_DESC"
                section="component"
                component="com_railway2">
            <option value="0">COM_RAILWAY2_NO</option>
            <option value="1">COM_RAILWAY2_YES</option>
        </field>
		<field
				name="page_station_head_text"
				type="text"
				label="COM_RAILWAY2_SMASH_HEAD_TEXT"
				description="COM_RAILWAY2_SMASH_HEAD_TEXT_DESC"
				section="component"
				component="com_railway2" />
	</fieldset>
	<fieldset name="rzd" label="COM_RAILWAY2_RZD" description="COM_RAILWAY2_RZD_SITE">
		<field
			name="rzd-sync"
			type="radio"
			section="component"
			component="com_railway2"
			label="COM_RAILWAY2_SYNC"
			description="COM_RAILWAY2_SYNC_DESC">
			<option value="0">COM_RAILWAY2_SYNC_DISABLED</option>
			<option value="1">COM_RAILWAY2_SYNC_ENABLED</option>
		</field>
		<field
			name="rzd-rasp-station"
			type="text"
			label="COM_RAILWAY2_RZD_RASP_URL_STATION"
			description="COM_RAILWAY2_RZD_RASP_URL_STATION_DESC"
			section="component"
			component="com_railway2">
		</field>
	</fieldset>
	<fieldset name="telegram" label="COM_RAILWAY2_TELEGRAM" description="COM_RAILWAY2_TELEGRAM_DESC">
		<field
			name="API-key"
			type="text"
			label="COM_RAILWAY2_TELEGRAM_API_KEY"
			description="COM_RAILWAY2_TELEGRAM_API_KEY_DESC"
			hint="COM_RAILWAY2_TELEGRAM_API_KEY_PLACEHOLDER"
			component="com_railway2"
			section="component">
		</field>
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			component="com_railway2"
			section="component">
		</field>
	</fieldset>
</config>
