<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="telegram" label="COM_RAILWAY2_TELEGRAM" description="COM_RAILWAY2_TELEGRAM_DESC">
		<field name="API-key"
			   type="text"
			   label="COM_RAILWAY2_TELEGRAM_API_KEY"
			   description="COM_RAILWAY2_TELEGRAM_API_KEY_DESC"
			   hint="COM_RAILWAY2_TELEGRAM_API_KEY_PLACEHOLDER"
			   component="com_railway2"
			   section="component">
		</field>
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules"
			   type="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   filter="rules"
			   component="com_railway2"
			   section="component">
		</field>
	</fieldset>
</config>
